    <div class="scrollable-div">
     <div class="item my-4">
         <div class="col-md-4 d-flex gap-4">
             <h3>I</h3>
             <div>
               <h5 class="fw-semibold">{{expense().name}}</h5>
               <p class="small">
                 Time
               </p>
             </div>
             <div class="price">
                 <p class="text-danger">{{expense().price}}</p>
             </div>
           </div>
     </div>
    </div>
    <p>ll {{total()}}</p>

    

<!-- <div class="scrollable-div">
     10 or more rows 
    <div class="item my-4">
        <div class="col-md-4 d-flex gap-4">
            NESO DA NAPRAAM ZA DA ISPADANT EXPENSESOT KAO USERSOT SO SE
            <h3>I</h3>
            <div>
              <h5 class="fw-semibold">Gas</h5>
              <p class="small">
                Time
              </p>
            </div>
            <div class="price">
                <p class="text-danger">-10$</p>
            </div>
          </div>
    </div>
    <div class="item my-4">
        <div class="col-md-4 d-flex gap-4">
            <h3>I</h3>
            <div>
              <h5 class="fw-semibold">Gas</h5>
              <p class="small">
                Time
              </p>
            </div>
            <div class="price">
                <p class="text-danger">-10$</p>
            </div>
          </div>
    </div>
    <div class="item my-4">
        <div class="col-md-4 d-flex gap-4">
            <h3>I</h3>
            <div>
              <h5 class="fw-semibold">Gas</h5>
              <p class="small">
                Time
              </p>
            </div>
            <div class="price">
                <p class="text-danger">-10$</p>
            </div>
          </div>
    </div>
</div>-->